<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/form.css">
    <link rel="stylesheet" href="/public/project.css">
    <link rel="stylesheet" href="/public/project/calendar.css">
    <title>Power Tools</title>
</head>
<body>
    {{>nav}}
    <div class="container flex-row">
        {{> sidebar}}
        <div class="col">
            <h1>{{project.name}} Calendar</h1>
            <h2>{{calendar.month}}, {{calendar.year}}</h2>
            <br />
            <div class="month">
                <div class="week head">
                    <div class="day">Sunday</div>
                    <div class="day">Monday</div>
                    <div class="day">Tuesday</div>
                    <div class="day">Wednesday</div>
                    <div class="day">Thursday</div>
                    <div class="day">Friday</div>
                    <div class="day">Saturday</div>
                </div>
                {{#each calendar.general}}
                <div class="week">
                    {{#each this}}
                    {{#if blank}}
                    <div class="day {{#if passed}}passed{{/if}} blank"></div>
                    {{else}}
                    <div class="day {{#if passed}}passed{{/if}} {{#if today}}today{{/if}}">{{date}}</div>
                    {{/if}}
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{> footer}}
</body>
</html>