<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="offset" content="{{calendar.offset}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/form.css">
    <link rel="stylesheet" href="/public/project.css">
    <link rel="stylesheet" href="/public/project/calendar.css">
    <script src="https://kit.fontawesome.com/bb8a916f03.js" crossorigin="anonymous"></script>
    <title>Power Tools</title>
</head>
<body>
    {{>nav}}
    {{>archived}}
    <div class="container flex-row">
        {{> sidebar}}
        <div class="col as-x xp">
            <h1>{{project.name}} Calendar</h1>
            <hr>
            <h2 class="flex">
                {{!-- <span class="left" onclick="left()">&lt;</span> --}}
                <span class="left">
                    <i onclick="left()" class="dir fa-solid fa-angle-left"></i>
                    <i onclick="right()" class="dir fa-solid fa-angle-right"></i>
                    <span class="month-name">{{calendar.monthName}}, {{calendar.year}}</span>
                </span>
                {{!-- <span class="right" onclick="right()">&gt;</span> --}}
                </h2>
            <br />
            <div class="month fill as-x xp">
                <div class="week head">
                    <div class="day">sun</div>
                    <div class="day">mon</div>
                    <div class="day">tue</div>
                    <div class="day">wed</div>
                    <div class="day">thu</div>
                    <div class="day">fri</div>
                    <div class="day">sat</div>
                </div>
                {{#each calendar.general}}
                <div class="week">
                    {{#each this}}
                    {{#if blank}}
                    <div class="day {{#if passed}}passed{{/if}} blank"></div>
                    {{else}}
                    <div class="day {{#if passed}}passed{{/if}} {{#if today}}today{{/if}}">
                        <p>{{date}}</p>
                        {{#isntEmpty tasks}}
                        <a class="to-task" href="/project/{{@root/project.id}}/1/{{tasks.[0].parent}}/{{tasks.[0].id}}">{{tasks.[0].name}}</a>
                        <a href="/project/{{@root/project.id}}/5/spec?m={{@root/calendar.month}}&d={{date}}&y={{@root/calendar.year}}" class="view-more">(See All)</a>
                        {{!-- {{else}} --}}
                            {{!-- <p>No due tasks.</p> --}}
                        {{/isntEmpty}}
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{> footer}}
    
    <script>
        let offset = document.getElementsByName('offset')[0].getAttribute('content');
        let num = Number(offset) || 0;

        const update = v => {
            if ('URLSearchParams' in window) {
                let searchParams = new URLSearchParams(window.location.search);
                searchParams.set("offset", v);
                window.location.search = searchParams.toString();
            }
        }

        function left () {
            update(num-1)
        }

        function right () {
            update(num+1)
        }
    </script>
    <script src="/public/js/archived.js"></script>
</body>
</html>