<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/form.css">
    <link rel="stylesheet" href="/public/project.css">
    <link rel="stylesheet" href="/public/project/members.css">
    <link rel="stylesheet" href="/public/select.css">
    <title>Power Tools</title>
</head>
<body>
    {{>nav}}
    {{>archived}}
    <div class="container flex-row">
        {{> sidebar}}
        <div class="col">
            <h1>Project Members</h1>
            <hr>
            <div class="key-row">
                <span><b class="star">✰</b>= You</span>
            </div>
            {{!-- <p class="subtitle">Manage the project's members.</p> --}}
            <div class="members">
                {{#each members}}
                <div class="member">
                    {{!-- {{#ifEquals ../user.id id}}
                    <span class="star">✰</span>
                    {{/ifEquals}} --}}
                    <span class="name">
                        {{#ifEquals ../user.id id}}
                        <b class="star">✰ </b>
                        {{/ifEquals}}
                        {{name}}
                    </span>
                    <span class="light email">{{email}}</span>
                    <span class="right">
                        <form {{#hasPerm @root/role "manageMembers"}} action="/project/{{../project.id}}/2/updateRole/{{id}}" id="update-{{../project.id}}-{{id}}" method="POST" {{/hasPerm}} class="form-exclude">
                            <select name="role" class="minimal" onchange="updateUserRole('{{id}}', '{{../project.id}}')" {{#hasntPerm @root/role "manageMembers"}} disabled {{/hasntPerm}}>
                                {{#each ../project.roles}}
                                <option {{#ifEquals this.name ../role}}selected{{/ifEquals}} value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </form>
                    </span>
                    <span>
                        {{#ifEquals ../user.id id}}
                        <button class="btn danger">Leave</button>
                        {{else}}
                        <button class="btn danger" {{#hasntPerm @root/role "removeMembers"}}disabled{{/hasntPerm}}>Remove</button>
                        {{/ifEquals}}
                    </span>
                </div>
                {{/each}}
            </div>

            {{#hasPerm role "manageMembers"}}

            <hr class="no-top">

            <h1>Invite People</h1>
            <p class="subtitle">Send an invite to join this project to somebody!</p>
            <br > 

            <form class="invite" action="/project/{{project.id}}/2/invite/send" method="POST">
                <div class="flex-row">
                    <input name="member" type="email" placeholder="johndoe@gmail.com" />
                    <button class="btn primary">Invite</button>
                </div>
            </form>

            {{#isntEmpty invites}}

            <div class="invites">
                {{#each invites}}
                <div class="member">
                    <span class="name">{{name}}</span>
                    <span class="light email">{{email}}</span>
                    <span class="right">
                        <form action="/project/{{../project.id}}/2/invite/cancel" method="POST" class="form-exclude">
                            <input class="hidden" name="member" value="{{id}}">
                            <button class="btn danger">Cancel</button>
                        </form>
                    </span>
                </div>
                {{/each}}
            </div>

            {{else}}

            <br />
            <p class="light">There are no outgoing invites.</p>

            {{/isntEmpty}}
            {{/hasPerm}}
        </div>
    </div>
    {{> footer}}

    <script src="/public/js/members.js"></script>
</body>
</html>