<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/form.css">
    <link rel="stylesheet" href="/public/project.css">
    <link rel="stylesheet" href="/public/project/settings.css">
    <title>Power Tools</title>
</head>
<body>
    {{>nav}}
    <div class="container flex-row">
        {{> sidebar}}
        <div class="col">
            <h1>{{project.name}} Settings</h1>
            <hr>
            <form id="form-1" class="form-no-align" {{#hasPerm role "manageProject"}}action="/project/{{project.id}}/action/update?redirect=/project/{{project.id}}/4" method="post"{{/hasPerm}}>
                <div class="form-row">
                    <label class="required">Project Name</label>
                    <input name="name" class="not-empty" value="{{project.name}}" placeholder="{{project.name}}" {{#hasntPerm role "manageProject"}}disabled{{/hasntPerm}}>
                </div>
                <div class="form-row">
                    <label class="required">Project Description</label>
                    <input name="description" class="not-empty" value="{{project.description}}" placeholder="{{project.description}}" {{#hasntPerm role "manageProject"}}disabled{{/hasntPerm}}>
                </div>
                {{#hasPerm role "manageProject"}}
                <button class="btn primary submit-btn" type="submit" disabled>Submit Changes</button>
                {{/hasPerm}}
            </form>
            {{#hasPerm role "admin"}}
            <hr>
            <form id="archive-form" class="form-no-align" action="/project/{{project.id}}/action/archive" method="post">
                <h2>Archive Project</h2>
                <p>Make the project uneditable, the project will still be visibile but cannot be modified.</p>
                <div class="archive-row">
                    <input name="name" class="not-empty" placeholder="{{project.name}}">
                    <button class="btn danger" id="archive-submit" disabled>Archive</button>
                </div>
            </form>
            {{/hasPerm}}
        </div>
    </div>
    {{> footer}}

    <script src="/public/js/project.js"></script>
    <script src="/public/js/settings.js"></script>
    <script>
        watch("form-1");
    </script>
</body>
</html>