<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/form.css">
    <link rel="stylesheet" href="/public/project.css">
    <link rel="stylesheet" href="/public/project/tasks.css">
    <link rel="shortcut icon" href="/public/favicon.ico" />
    <title>Power Tools</title>
</head>
<body>
    {{>nav}}
    {{>archived}}
    <div class="container flex-row">
        {{> sidebar}}
        <div class="col">
            <h1>Project Tasks</h1>
            <hr>
            {{#ifEmpty project.tasks}}
            <p>This project has no task lists...</p>
            {{else}}
            <div class="lists">
                {{#each project.tasks}}
                <div class="tasklist">
                    <div class="heading">
                        <span>{{name}}</span>
                        {{#hasPerm @root/role "managteTasks"}}
                        {{!-- <span><a href="#" class="del-archived">Edit</a></span> --}}
                        <span></span>
                        <span><a href="#" class="del-archived" onclick="createNew(document.getElementById('tasks-{{id}}'), '{{../project.id}}')">Add</a></span>
                        {{/hasPerm}}
                    </div>
                    <div class="content">
                        <div class="tasks" id="tasks-{{id}}">
                            {{#ifEmpty tasks}}
                            <p>There are no tasks under this category.</p>
                            {{else}}
                            {{#each tasks}}
                            <div class="task" onclick="window.open('/project/{{@root/project.id}}/1/{{../id}}/{{id}}', '_self')">
                                <div class="section">
                                    <h4 class="push-up-small">{{name}}</h4>
                                    <p>{{note}}</p>
                                </div>
                                <div class="section">
                                    {{#ifEmpty due}}
                                    <a href="#">No due date.</a>
                                    {{else}}
                                    <a href="/project/{{@root/project.id}}/5/spec?m={{sDue.m}}&d={{sDue.d}}&y={{sDue.y}}">Due {{due}}.</a>
                                    {{/ifEmpty}}
                                </div>
                            </div>
                        {{/each}}
                        {{/ifEmpty}}
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>

            {{/ifEmpty}}
        </div>
    </div>
    {{> footer}}

    <script src="/public/js/tasks.js"></script>
    <script src="/public/js/archived.js"></script>
</body>
</html>