<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/form.css">
    <link rel="stylesheet" href="/public/project.css">
    <link rel="stylesheet" href="/public/project/tasks.css">
    <link rel="stylesheet" href="/public/project/task.css">
    <title>Power Tools</title>
</head>
<body>
    {{>nav}}
    {{>archived}}
    <div class="container flex-row">
        {{> sidebar}}
        <div class="col">
            <div class="path">
                <a href="/project/{{project.id}}">{{project.name}}</a>
                <a href="/project/{{project.id}}/1">Tasks</a>
                <a href="/project/{{project.id}}/1">{{list.name}}</a>
                <a href="#">{{task.name}}</a>
            </div>
            <br />
            <form id="form-1" class="task-general form-no-align" action="/project/{{project.id}}/1/update/{{list.id}}/{{task.id}}" method="post">
                <div class="form-row">
                    <label class="required">Task Name</label>
                    <input name="name" class="not-empty" value="{{task.name}}" placeholder="{{task.name}}" {{#hasntPerm role "manageTasks"}}disabled{{/hasntPerm}}>
                </div>
                <div class="form-row">
                    <label class="required">Task Note</label>
                    <input name="note" class="not-empty" value="{{task.note}}" placeholder="{{task.note}}" {{#hasntPerm role "manageTasks"}}disabled{{/hasntPerm}}>
                </div>
                <div class="form-row">
                    <label>Due Date</label>
                    <input name="due" value="{{task.due}}" placeholder="Leave empty for no due date. Enter as 'MM/DD/YYYY'." {{#hasntPerm role "manageTasks"}}disabled{{/hasntPerm}}>
                </div>
                {{#hasPerm role "manageTasks"}}
                <button class="btn primary submit-btn" type="submit" disabled>Submit Changes</button>
                {{/hasPerm}}
            </form>
            <br />
            {{#hasPerm role "manageTasks"}}
            <form class="form-no-align" action="/project/{{project.id}}/1/remove/{{list.id}}/{{task.id}}" method="post">
                <button class="btn danger" type="submit">Delete Task</button>
            </form>
            {{/hasPerm}}
            {{!-- {{#ifEmpty task.due}}
            <a>No due date.</a>
            {{else}}
            <a>Due {{task.due}}.</a>
            {{/ifEmpty}} --}}
        </div>
    </div>
    {{> footer}}

    <script src="/public/js/project.js"></script>
    <script>
        watch("form-1");
    </script>
</body>
</html>