<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/dashboard.css">
    <title>Power Tools</title>
</head>
<body>
    {{>nav}}
    <div class="container">
        <h2 class="push-up-small">My Projects ({{projects.length}}) <a href="/project/new">(Create New Project)</a></h2>
        {{#isntEmpty projects}}
        <div class="row gapped">
            {{#each projects}}
            <div class="col shortened">
                <h4 class="push-up-small">{{name}}</h4>
                <p class="push-up-small">{{description}}</p>
                <button class="btn primary block" onclick="window.open('/project/{{_id}}', '_self')">Manage</button>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>You have no projects...</p>
        {{/isntEmpty}}
    </div>

    <div class="container">
        <h2 class="push-up-small">Invites</h2>
        {{#isntEmpty invites}}
        <div class="row gapped">
            {{#each invites}}
            <div class="col shortened">
                <h4 class="push-up-small">{{name}}</h4>
                <p class="push-up-small">{{description}}</p>
                <div class="row gapped" style="width: 100%">
                    <form action="/project/{{../project.id}}/2/invite/accept" method="POST">
                        <button class="btn success flex-1">Accept</button>
                    </form>
                    <form action="/project/{{../project.id}}/2/invite/deny" method="POST">
                        <button class="btn danger flex-1">Deny</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>You have no incoming invites...</p>
        {{/isntEmpty}}
    </div>
    {{> footer}}
</body>
</html>